In [28]:
import pandas as pd
import numpy as np 
import json
import re
import os

In [29]:
df = pd.read_csv("TRAIN_TEST_MERGE_UNIQUE.csv")

In [30]:
counter = 0

In [31]:
test_df = pd.DataFrame(columns=["SUBJECT","RELATION","OBJECT"])

In [32]:
def func_helper(index,df,row,indices_to_del):
    s = row[0]
    o = row[2]
    nodes = []
    for i in range(df.shape[0]):
        if i != index and i not in indices_to_del:
            nodes.append(df.iloc[i,0])
            nodes.append(df.iloc[i,2])
    
    if s in nodes and o in nodes:
        return True
    else:
        return False

In [33]:
num_edges_to_sample = int(0.10 * len(df))

In [34]:
num_edges_to_sample

218

In [35]:
df = df.sample(frac=1)
df = df.reset_index()
df.drop(['index'],axis=1,inplace=True)

In [36]:
df

      SUBJECT   RELATION  OBJECT
0         813  similarTo     428
1         238  similarTo     879
2         986  similarTo    1028
3         824  similarTo     567
4        1004  similarTo    1012
...       ...        ...     ...
2177      819  similarTo     200
2178      266  similarTo     858
2179      863  similarTo     703
2180      520  similarTo     798
2181      825  similarTo     408

[2182 rows x 3 columns]

In [37]:
indices_to_del = []
for i in range(df.shape[0]):
    row = df.loc[i]
    if func_helper(i,df,row,indices_to_del):
        count = len(test_df)
        test_df.loc[count] = row
        counter = counter + 1
        if counter == num_edges_to_sample:
            break
        indices_to_del.append(i)

In [38]:
test_df

    SUBJECT   RELATION OBJECT
0       813  similarTo    428
1       238  similarTo    879
2       986  similarTo   1028
3       824  similarTo    567
4      1004  similarTo   1012
..      ...        ...    ...
213     220  similarTo    850
214     112  similarTo    846
215     848  similarTo    794
216     815  similarTo    269
217     546  similarTo    870

[218 rows x 3 columns]

In [39]:
test_df.to_csv("TEST_SET_SAMPLED.csv",index=False)

In [40]:
X = df.drop(indices_to_del)

In [41]:
X.to_csv("TRAIN_SET_SAMPLED.csv",index=False)