In [1]:
import pandas as pd
import numpy as np

In [2]:
oe = pd.read_csv("OE_LABELS.csv")

In [3]:
ner = pd.read_csv("NER_FEATURES.csv")

In [4]:
oe

,tid,LEGAL_SCJUDGE,LEGAL_DESIGN,LEGAL_GEN,LEGAL_PATENT,LEGAL_TRADEMARK,LEGAL_COPYRIGHT,LEGAL_RESERVATION_CATEGORY,LEGAL_CRIMINAL_PROCEDURE,LEGAL_ENTITY,COPYRIGHT_ACT,PATENTS_ACT,DESIGNS_ACT,INFORMATION_TECHNOLOGY_ACT,TRADEMARK_ACT
0,100123,0,6,17,0,0,0,0,209,10,0,0,0,0,0
1,1001948,0,4,31,2,0,5,4,66,10,1,0,0,0,0
2,1006468,0,4,31,0,3,0,0,191,17,0,0,0,0,0
3,1006709,0,0,22,0,0,0,0,66,1,0,0,0,0,0
4,1007946,0,0,17,0,0,3,0,66,17,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,81162651,0,6,26,0,0,0,0,14,17,0,0,0,0,0
1034,8433581,0,8,2,0,62,5,4,209,10,1,0,0,0,0
1035,850381,0,4,31,3,62,0,5,191,17,0,0,0,0,0
1036,94612663,0,4,31,0,62,0,4,66,17,0,0,0,0,1
1037,98291024,0,0,31,0,0,0,0,54,6,0,0,0,0,0

In [5]:
ner

,tid,LAW,INFRINGEMENT,PERSON,NATION/RELIGIOUS/POL_GROUP,GEOGRAPHICAL_LOC,LANGUAGE,LOCATION_STRUCTURE,LOCATION,CONTACTNAME,ORGANIZATION,ORGANIZATION2,GEOGRAPHY2,DATETIME,PERCENT
0,1004544,0,0,0,0,1341,0,0,24623,0,128404,0,277,0,0
1,102042281,0,1,0,0,1337,0,0,24825,0,128740,0,277,0,0
2,1025815,0,1,0,0,1286,0,0,24972,0,128600,0,277,0,0
3,1062207,0,1,0,0,1257,0,0,24815,0,127847,0,277,0,0
4,106681665,0,1,0,0,1264,0,0,24595,0,128426,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,99622088,58915,0,8817,868,1351,0,24825,24556,0,71755,128694,277,0,0
1034,996328,47882,0,32717,730,1358,26,11327,24564,0,122994,126885,277,0,0
1035,996348,61064,0,19129,1144,1286,0,23872,6178,0,67548,84493,277,0,0
1036,99670896,56497,0,40157,0,1351,0,24825,24556,0,52834,128902,277,0,0
1037,997135,37952,0,4505,0,795,0,17802,19287,0,128426,128644,276,0,0

In [6]:
oe_t = oe.sort_values(by=['tid'])

In [7]:
ner_t = ner.sort_values(by=['tid'])

In [8]:
oe_t

,tid,LEGAL_SCJUDGE,LEGAL_DESIGN,LEGAL_GEN,LEGAL_PATENT,LEGAL_TRADEMARK,LEGAL_COPYRIGHT,LEGAL_RESERVATION_CATEGORY,LEGAL_CRIMINAL_PROCEDURE,LEGAL_ENTITY,COPYRIGHT_ACT,PATENTS_ACT,DESIGNS_ACT,INFORMATION_TECHNOLOGY_ACT,TRADEMARK_ACT
282,1566,0,7,2,2,0,0,0,66,16,0,0,0,0,0
645,4354,0,7,30,0,0,0,0,191,16,0,0,0,0,0
696,5192,0,6,33,3,0,0,0,66,17,0,0,0,0,0
767,6547,0,7,30,0,0,3,5,191,21,0,0,0,0,0
973,13352,0,4,31,0,0,0,0,209,10,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,192230665,0,4,17,2,62,26,4,191,17,0,0,0,0,0
480,192914986,0,0,0,0,0,0,0,66,15,0,0,0,0,0
485,194456776,0,7,17,0,0,0,4,191,8,0,0,0,0,0
504,198827109,0,0,31,0,0,19,0,14,17,0,0,0,0,0
509,199908142,0,7,31,0,0,3,4,66,17,0,0,0,0,0

In [9]:
ner_t

,tid,LAW,INFRINGEMENT,PERSON,NATION/RELIGIOUS/POL_GROUP,GEOGRAPHICAL_LOC,LANGUAGE,LOCATION_STRUCTURE,LOCATION,CONTACTNAME,ORGANIZATION,ORGANIZATION2,GEOGRAPHY2,DATETIME,PERCENT
375,1566,52476,0,7427,1033,1358,0,16793,24564,0,79988,6235,277,0,0
732,4354,73493,0,9487,267,1286,44,24815,6268,0,50100,75502,294,0,0
782,5192,72155,0,10253,41,297,44,4994,12571,0,127202,56200,276,0,0
848,6547,68185,0,26578,1210,1249,44,24597,20419,0,127202,128644,58,0,0
18,13352,0,0,0,0,0,0,0,24875,0,128667,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,192230665,0,1,0,0,1341,0,0,24815,0,127506,0,277,0,0
569,192914986,0,0,25976,0,1341,0,14290,5038,0,127433,118077,277,0,0
574,194456776,20541,0,5050,1144,1279,0,8400,15386,0,119194,89049,277,0,0
593,198827109,69808,0,20021,931,800,44,24959,14710,0,128162,64481,250,0,0
598,199908142,74224,0,4750,0,1286,0,1654,5994,0,62499,18699,252,0,0

In [10]:
oe_t.to_csv("OE_WITHOUT_NER_SORTED.csv",index=False)

In [11]:
ner_t.to_csv("OE_NER_SORTED.csv",index=False)

In [15]:
df3 = pd.merge(oe_t, ner_t, on = 'tid')

In [16]:
df3

,tid,LEGAL_SCJUDGE,LEGAL_DESIGN,LEGAL_GEN,LEGAL_PATENT,LEGAL_TRADEMARK,LEGAL_COPYRIGHT,LEGAL_RESERVATION_CATEGORY,LEGAL_CRIMINAL_PROCEDURE,LEGAL_ENTITY,...,GEOGRAPHICAL_LOC,LANGUAGE,LOCATION_STRUCTURE,LOCATION,CONTACTNAME,ORGANIZATION,ORGANIZATION2,GEOGRAPHY2,DATETIME,PERCENT
0,1566,0,7,2,2,0,0,0,66,16,...,1358,0,16793,24564,0,79988,6235,277,0,0
1,4354,0,7,30,0,0,0,0,191,16,...,1286,44,24815,6268,0,50100,75502,294,0,0
2,5192,0,6,33,3,0,0,0,66,17,...,297,44,4994,12571,0,127202,56200,276,0,0
3,6547,0,7,30,0,0,3,5,191,21,...,1249,44,24597,20419,0,127202,128644,58,0,0
4,13352,0,4,31,0,0,0,0,209,10,...,0,0,0,24875,0,128667,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,192230665,0,4,17,2,62,26,4,191,17,...,1341,0,0,24815,0,127506,0,277,0,0
1034,192914986,0,0,0,0,0,0,0,66,15,...,1341,0,14290,5038,0,127433,118077,277,0,0
1035,194456776,0,7,17,0,0,0,4,191,8,...,1279,0,8400,15386,0,119194,89049,277,0,0
1036,198827109,0,0,31,0,0,19,0,14,17,...,800,44,24959,14710,0,128162,64481,250,0,0
1037,199908142,0,7,31,0,0,3,4,66,17,...,1286,0,1654,5994,0,62499,18699,252,0,0

In [17]:
df3.columns

Index(['tid', 'LEGAL_SCJUDGE', 'LEGAL_DESIGN', 'LEGAL_GEN', 'LEGAL_PATENT',
       'LEGAL_TRADEMARK', 'LEGAL_COPYRIGHT', 'LEGAL_RESERVATION_CATEGORY',
       'LEGAL_CRIMINAL_PROCEDURE', 'LEGAL_ENTITY', 'COPYRIGHT_ACT',
       'PATENTS_ACT', 'DESIGNS_ACT', 'INFORMATION_TECHNOLOGY_ACT',
       'TRADEMARK_ACT', 'LAW', 'INFRINGEMENT', 'PERSON',
       'NATION/RELIGIOUS/POL_GROUP', 'GEOGRAPHICAL_LOC', 'LANGUAGE',
       'LOCATION_STRUCTURE', 'LOCATION', 'CONTACTNAME', 'ORGANIZATION',
       'ORGANIZATION2', 'GEOGRAPHY2', 'DATETIME', 'PERCENT'],
      dtype='object')

In [18]:
df3.to_csv("FINAL_OE_LABELS_WITH_NER.csv",index=False)